<!DOCTYPE html>
<html ng-app="MenuApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- Librerias -->
  </head>
  <body>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <!-- Modulo principal -->

    <script src="menuapp.module.js"></script>
    <script src="data.module.js"></script>
    <!-- Routes -->
    <script src="routes.js"></script>
    <!-- Artifacts -->

    <script src="categories.component.js"></script>
    <script src="items.component.js"></script>
    <script src="menudata.service.js"></script>
    <script src="categories.controller.js"></script>
    <script src="items.controller.js"></script>
    <title>Master/detail veiw pair</title>

    <div class="container">

      <ui-view>

      </ui-view>

      <!-- <h1>Diplay a list with all categories</h1>

      <div class="" ng-controller='MenuAppController as menuapp'>
        <div class="form-group narrow-button">
          <button class="btn btn-primary" ng-click="menuapp.categories();">get all categories</button>
        </div>
      </div> -->

    </div>


    <div class="container">
     <!-- <h1>Choose your own category</h1>

     <div id="items" ng-controller='itemsComponentController as items'>

       <div class="form-group">
         <input type="text" placeholder="search term" class="form-control" ng-model="searchTerm">
       </div>
       <div class="form-group narrow-button">
         <button class="btn btn-primary" ng-click="items.getItemsForCategory(searchTerm);">Getting Items for category</button>
       </div>
       <div>
       <ul>
         <li ng-repeat="item in getMatchedItems()">
           {{item}}


         </li>
       </ul> -->
     </div>


    <!-- <categories-component>

    </categories-component> -->
  </body>
</html>
